<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conveter &mdash; <%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="app">
      <h1 class="heading-1">Unit Converter</h1>
      <nav class="navigation">
        <ul class="navigation__list">
          <li>
            <a
              class="navigation__item <%= title === 'length' ? 'active' : ''%>"
              href="/length"
              >Length</a
            >
          </li>
          <li>
            <a
              class="navigation__item <%= title === 'weight' ? 'active' : ''%>"
              href="/weight"
              >Weight</a
            >
          </li>
          <li>
            <a
              class="navigation__item <%= title === 'temprature' ? 'active' : ''%>"
              href="/temperature"
              >Temperatute
            </a>
          </li>
        </ul>
      </nav>

    <% if(title === "result") { %>
    <div class="result__container">
      <p>Result of your calculation</p>
      <p class="result__text"><%= text %></p>
      <a class="reset-button" href="/length">Reset</a>
    </div>  
    <% } else { %> 
      
      <form action="/<%= title%>" method="post">
        <div style="display: none">
          <label for="type"><%= title%></label>
          <input type="text" value="<%= title%>" />
        </div>
        
        <div class="form__input-container">
          <label for="value">Enter the <%= title %> to convert</label>
          <input
          type="text"
          name="value"
          id="value"
          placeholder="Insert value"
          />
        </div>

        <div class="form__input-container">
          <label for="from">Unit to convert from</label>
          <select name="from" id="from">
            <option value=""></option>
            <% for (let unit of units) { %>
              <option value="<%= unit %>"> <%= unit%> </option>
              <% }%>
            </select>
        </div>
          
        <div class="form__input-container">
            <label for="to">Unit to convert to</label>
            <select name="to" id="to">
              <option value=""></option>
              <% for (let unit of units) { %>
                <option value="<%= unit %>"> <%= unit%> </option>
                <% }%>
                
              </select>
        </div>
            <button type="submit">Convert</button>
        </form>
      <% } %>
      </div>
  </body>
</html>
